---
---

$section-headings-color: #004280;
$body-link-color: #eb008d;

@import 'jekyll-theme-cayman';
.page-header {
    background-image: url('/docs/images/SAGE_ocean_Banner.jpg'); 
    background-color: #014284;
    background-size: cover;
}

.main-content 
h1,
h2,
h3,
h4,
h5,
h6 {
    font: Adelle Sans;  
}
p {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
    color: white;
    background-color: #e6007a;
    font-weight: bold;
}
